@import url('https://fonts.googleapis.com/css2?family=Montserrat:ital,wght@0,100;0,200;0,300;0,400;0,500;0,600;0,700;0,800;0,900;1,100;1,200;1,300;1,400;1,500;1,600;1,700;1,800;1,900&display=swap');

span[item] {
    display: none;
}
span[item].show {
    display: block;
}
.hide {
    display: none;
}

/* init */

/* design mobile first */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    font-size: 20px;
    border: none;
    color: white;
}

/* clear default styles */

html,
body {
    font-family: 'Montserrat', sans-serif;
    height: 100vh;
    width: 100%;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
    overflow: hidden;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
    font-family: 'Montserrat', sans-serif;
}

select {
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    outline: none;
    background-color: transparent;
}
option {
    background-color: black;
    color: white;
}

input {
    outline: none;
    background-color: transparent;
    border: none;
}

.textGlow {
    font-weight: 800;
    font-size: 75px;
    color: rgba(0, 255, 170, 0.201);
    text-shadow: 3px 3px 5px rgba(0, 0, 0, 0.2),-3px -3px 2px rgba(255, 255, 255, 0.04), 0 0 0px rgba(190, 251, 231, 0.2), 0 0 70px #ffffff0c, 0 0 120px #ffffff00, 0 0 1000px #ffffff00;
}
.textGlow:focus {
    font-size: 72px;
    color: rgba(0, 255, 170, 0.473);
    text-shadow: 5px 5px 7px rgba(0, 0, 0, 0.05),-3px -3px 4px rgba(255, 255, 255, 0.1), 0 0 0px rgba(190, 251, 231, 0.2), 0 0 70px rgb(0, 255, 170,0.7), 0 0 120px rgba(0, 255, 170, 0.5), 0 0 1000px rgba(0, 255, 170, 0.502);
}

#random:focus {
    width: 33.4vh;
    height: 33.4vh;
    top: 43.8vh;
    left: calc(50% - 16.8vh);
    /*background-image: radial-gradient(ellipse at center, rgba(59, 59, 59, 0.1) 55%,rgba(0,0,0,0.3) 100%);*/
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.13), -2px -2px 2px rgba(179, 175, 255, 0.1),
        3px 3px 25px 2px rgba(0, 0, 0, 0.3) inset, -2px -2px 25px 2px rgba(255, 255, 255, 0.05) inset;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out,
        background-image 0.3s ease-in-out, box-shadow 0.3s ease-in-out, font-size 0.3s ease-in-out, text-shadow 0.9s 0.7s ease-in-out, color 0.8s 0.3s ease-in-out;
}

button:active {
    border: none;
}

:focus-visible {
    outline: none;
}

#main-page {
    height: 101vh;
    background-size: cover;
}

#random {
    position: absolute;
    top: 43.5vh;
    z-index: 2;
    left: calc(50% - 17vh);
    width: 34vh;
    height: 34vh;
    border-radius: 50%;
    background: rgba(55, 0, 255, 0.043);
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.219), -4px -4px 5px 2px rgba(179, 175, 255, 0.1),
        3px 3px 25px 2px rgba(0, 0, 0, 0.3) inset, -2px -2px 25px 2px rgba(255, 255, 255, 0.05) inset;
    transition: top 0.3s 1.2s ease-in-out, left 0.3s 1.2s ease-in-out, width 0.3s 1.2s ease-in-out, height 0.3s 1.2s ease-in-out,
        box-shadow 0.3s 1.2s ease-in-out, font-size 0.3s 1.2s ease-in-out, text-shadow 0.5s ease-in-out, color 0.5s 0.3s ease-in-out;
}

#list-steps {
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    overflow: auto;
    max-width: 100%;
    padding: 0 10vw;
    margin-top: 15vh;
    height: 15vh;
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 10vw;
    z-index: 1;
}

#list-steps > div {
    position: relative;
    display: flex;
    align-items: center;
    width: 15vh;
    min-width: 15vh;
    height: 100%;
}

#list-steps > div > div {
    display: flex;
    flex-direction: column;
    justify-content: stretch;
    align-items: center;
    position: absolute;
    overflow: hidden;
    border-radius: 39px;
    width: 15vh;
    height: 100%;
    background: rgb(66, 75, 111);
}

.doorLeft, .doorRight {
    width: 50%;
    position: absolute;
    height: 100%;
    background: rgb(66, 75, 111);
    transition: width 0.3s ease-in-out;
}

.doorLeft {
    left: 0;
    border-radius: 39px 0 0 39px;
    box-shadow: inset 5px 5px 10px rgb(0 0 0 / 30%), inset -10px -10px 40px rgb(255 255 255 / 2%);
}

.doorLeft.open, .doorRight.open {
    width:30px;
    transition: width 0.8s 0.5 ease-in-out;
}

.doorRight {
    right: 0;
    border-radius: 0 39px 39px 0;
    box-shadow: inset 0px 15px 10px -10px rgb(0 0 0 / 30%), inset -10px -10px 40px rgb(255 255 255 / 2%);
}

.stepContent{
    height: 100%;
    width: calc(100% - 60px);
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    box-shadow: inset 10px 15px 25px rgb(0 0 0 / 30%), inset -10px -10px 40px rgb(255 255 255 / 2%);
}

/***************************************/

#type-list {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 50px 40px;
    max-width: 100%;
    overflow: scroll;
}

#type-list > div {
    display: flex;
    align-items: center;
    gap: 20px;
}

#list-type-steps{
    display: flex;
    align-items: center;
    gap: 20px;
}

.step-select {
    display: flex;
    align-items: center;
    gap: 20px;
}

.step-select:first-child > div:first-child {
    display: none;
}

#delete-steps {
    margin-left: 20px;
}

/***************************************/

#setup-range-step {
    height: 80%;
    max-height: 70vh;
    overflow: auto;
    width: 100%;
}

#setup-range-step > .setter {
    padding: 0 20px;
}

.setter {
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 10px 0;
    width: 100%;
    gap:20px;
}

.setter > input {
    width: 100%;
    height: 100%;
    border-radius: 10px;
    background: rgba(168, 158, 207, 0.3);
    box-shadow: inset 20px 20px 40px rgba(0, 0, 0, 0.3), inset -20px -20px 40px rgba(255, 255, 255, 0.05);
    padding: 5px 10px;
}

.sub-steps {
    border-left: solid 5px rgba(168, 158, 207, 0.3);
    margin-top: 10px;
    margin-right: 20px;
}

.sub-step {
    display: flex;
    align-items: center;
    justify-content: space-between;
    gap: 20px;
}

.sub-step>div:first-child {
    padding: 2px 7px 2px 10px;
    min-width: 35px;
    justify-content: flex-end;
    display: flex;
    border-top-right-radius: 8px;
    border-bottom-right-radius: 8px;
    text-align: end;
    border: solid 3px rgba(168, 158, 207, 0.3);
    border-left : none;
    font-size: 15px;
}
