span[item] {
    display: none;
}
span[item].show {
    display: block;
}
.hide {
    display: none;
}

/* init */

/* design mobile first */

* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
    border: none;
    color: white;
}

/* clear default styles */

html, body {
    height: 101vh;
    width: 100%;
    font-family: 'Roboto', sans-serif;
    font-size: 16px;
    font-weight: 400;
    line-height: 1.5;
    text-align: left;
    text-decoration: none;
    text-transform: none;
    text-shadow: none;
    text-rendering: optimizeLegibility;
    -webkit-tap-highlight-color: transparent;
    -webkit-font-smoothing: antialiased;
    -moz-osx-font-smoothing: grayscale;
    background: black;
}

button {
    border: none;
    background: none;
    outline: none;
    cursor: pointer;
}

#random:focus {
    width: 33.4vh;
    height: 33.4vh;
    top: 23.2vh;
    left: calc(50% - 16.8vh);
    /*background-image: radial-gradient(ellipse at center, rgba(59, 59, 59, 0.1) 55%,rgba(0,0,0,0.3) 100%);*/
    box-shadow: 2px 2px 2px rgba(0, 0, 0, 0.13), -2px -2px 2px rgba(179, 175, 255, 0.1), 3px 3px 25px 2px rgba(0, 0, 0, 0.3) inset, -2px -2px 25px 2px rgba(255, 255, 255, 0.05) inset;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, background-image 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}

button:active {
    border: none;
}

:focus-visible {
    outline: none;
}


#main-page {
    height: 100vh;
    background-size: cover;
}

#random {
    position: absolute;
    top: 23vh;
    left: calc(50% - 17vh);
    width: 34vh;
    height: 34vh;
    border-radius: 50%;
    background: rgba(55, 0, 255, 0.043);
    box-shadow: 4px 4px 5px 5px rgba(0, 0, 0, 0.219), -4px -4px 5px 2px rgba(179, 175, 255, 0.1), 3px 3px 25px 2px rgba(0, 0, 0, 0.3) inset, -2px -2px 25px 2px rgba(255, 255, 255, 0.05) inset;
    transition: top 0.3s ease-in-out, left 0.3s ease-in-out, width 0.3s ease-in-out, height 0.3s ease-in-out, box-shadow 0.3s ease-in-out;
}